In [1]:
# Import Dependencies:
import pandas as pd

In [2]:
#  Path to csv for creating it to a working DataFrame:
df = pd.read_csv(r"C:\Users\ellui\OneDrive\Documents\Data bootcamp 2\Tableau Porfolio\Resources\diabetes_prediction_dataset.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [3]:
# Get the unique values in a specific column
column_name = 'hypertension'
unique_values = df[column_name].unique()

# Print the unique values
print(unique_values)

[0 1]

In [4]:
# Assign strings to the the hypertension values:
# Mapping for replacement
replacement_map = {0: 'not hypertensive', 1: 'hypertensive'}

# Replace values in the column
df['hypertension'] = df['hypertension'].replace(replacement_map)

# Print the updated DataFrame
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,not hypertensive,1,never,25.19,6.6,140,0
1,Female,54.0,not hypertensive,0,No Info,27.32,6.6,80,0
2,Male,28.0,not hypertensive,0,never,27.32,5.7,158,0
3,Female,36.0,not hypertensive,0,current,23.45,5.0,155,0
4,Male,76.0,hypertensive,1,current,20.14,4.8,155,0

In [5]:
# Get the unique values in a specific column
column_name_1 = 'hypertension'
unique_values = df[column_name].unique()

# Print the unique values
print(unique_values)

['not hypertensive' 'hypertensive']

In [6]:
# Assign strings to the the heart_disease values:
# Mapping for replacement
replacement_map_1 = {0: 'no heart disease', 1: 'heart disease'}

# Replace values in the column
df['heart_disease'] = df['heart_disease'].replace(replacement_map_1)

# Print the updated DataFrame
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,not hypertensive,heart disease,never,25.19,6.6,140,0
1,Female,54.0,not hypertensive,no heart disease,No Info,27.32,6.6,80,0
2,Male,28.0,not hypertensive,no heart disease,never,27.32,5.7,158,0
3,Female,36.0,not hypertensive,no heart disease,current,23.45,5.0,155,0
4,Male,76.0,hypertensive,heart disease,current,20.14,4.8,155,0

In [7]:
# Assign strings to the the diabetes values:
# Mapping for replacement
replacement_map_1 = {0: 'not diabetic', 1: 'diabetic'}

# Replace values in the column
df['diabetes'] = df['diabetes'].replace(replacement_map_1)

# Print the updated DataFrame
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,not hypertensive,heart disease,never,25.19,6.6,140,not diabetic
1,Female,54.0,not hypertensive,no heart disease,No Info,27.32,6.6,80,not diabetic
2,Male,28.0,not hypertensive,no heart disease,never,27.32,5.7,158,not diabetic
3,Female,36.0,not hypertensive,no heart disease,current,23.45,5.0,155,not diabetic
4,Male,76.0,hypertensive,heart disease,current,20.14,4.8,155,not diabetic

In [8]:
# Specify the file path where you want to save the CSV file
file_path = 'output.csv'

# Save the DataFrame to a CSV file
df.to_csv(file_path, index=False)  # Set index=False to avoid writing row indices to the CSV

print(f"DataFrame has been saved to '{file_path}'")

DataFrame has been saved to 'output.csv'

In [9]:
# Export the DataFrame to a CSV file
output_file = 'updated_diabetes.csv'
df.to_csv(output_file, index=False)

print(f"DataFrame exported to {output_file} successfully.")

DataFrame exported to updated_diabetes.csv successfully.

In [10]:
output_file = r'C:\Users\ellui\OneDrive\Documents\Data bootcamp 2\Tableau Porfolio\Resources\updated_diabetes'